<section class="bg-[#52796f] pt-8 pb-16 px-16 mt-20" id="contact">
  <div class="text-[#cad2c5] flex justify-between">
    <div class="flex items-center">
      <i class="fa-solid fa-camera me-1 text-[15px]"></i>
      <p>Laura Orjuela</p>
    </div>
    <p class="text-[#cad2c5]">By MAD 2024</p>
    <div>
      <a href="https://www.instagram.com/wakala__la/" target="_blank"><i class="fa-brands fa-instagram me-6 text-[20px]"></i></a>
      <a href="https://wa.me/573118558855" target="_blank"><i class="fa-brands fa-whatsapp text-[20px]"></i></a>
    </div>
  </div>
</section>
