/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.splide__pagination__page {
  background: #969393 !important;
  margin: 6px !important;
  width: 12px !important;
  height: 12px !important;
}

button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
  background-color: #4e4e4e !important;
}

